<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h2>ENS Tickets
        <h4>Please download the attached file in this email.</h4>
    </body>
</html>