<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
        <h1>Hi there! You have received an ENS Ticket. Please see below.</h1>
            <p>Property: <%#= @property_name %></p>
            <p>Region/Category: <%#= @ticket_category %></p>
            <p>Customers Affected: <%#= @customers_affected %></p>
            <p>Event Status: <%#= @event_status %></p>
            <p>Event Severity: <%#= @event_severity %></p>
            <p>Event Category: <%#= @event_category %></p>
            <p>Bridge Number: <%#= @bridge_number %></p>
            <p>Heat Ticket Number: <%#= @heat_ticket_number %></p>
            <p>Ticket Created At: <%#= @created_at %></p>
  	</body>
</html>