.map-wrapper { 
	position: relative;
}
.overlay { 
	position: absolute;
	top: 316px;
	left: 625px; 
	background-color: 
	white; 
	height: 65px; 
	width: 167px;
	padding: 5px;
	vertical-align: middle;
}
.overlay ul {
	margin: 0;
	padding: 0;
 	list-style-type: none;
}
.overlay ul li {
	font-size: 9px;
	margin-bottom: 5px;
}
.map_marker {
	height: 15px;
	width: 8px;
	margin-left: 3px;
}